.borderCardParent{
    border-color : black;
    border-width: 2px;
    border-style : solid;
    padding: 2px;

}

.borderCardChild{
    border-color: red;
    border-radius: 9px;
    border-width: 2px;
    border-style: solid;
    padding: 2px;

}