@import 'cardBorder';
@import 'card1';










.cardParent2{
    @include cardParent(250px, 1200px, 2px);
    background-color: rgb(223, 254, 255);
    
    @extend .borderCardParent;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: flex;
    position: relative;
    left : 75px;
    
   

}

.card2{

    @extend .borderCardChild;
    position: relative;
    left: 10px;
    height: 180px;
    width: 190px;
    padding: 15px;
    /* top-margin: 2px; */
    margin-top: 20px;
    margin-left: 10px;

    background-color: white;
    margin-right: 20px;
    // border: 2px;
    // border-color: red;
    // border-radius: 9px;
    // border-width: 2px;
    // border-style: solid;
    // float: left;
    flex: 1;

    a:link {
        text-decoration: none;
        color: black;
      }


      a:visited {
        text-decoration: none;
        color: green;
      }



     a:hover {
        text-decoration: underline;
        color: rgb(131, 208, 231);
      }


    a:active {
        text-decoration: underline;
        color: blue;
      }



      p {
        color:rgb(153, 149, 149);
    }



}

/* Styling anchor tag */

// div.card2 a:link {
//     text-decoration: none;
//     color: black;
//   }
  
// div.card2  a:visited {
//     text-decoration: none;
//     color: green;
//   }
  
// div.card2 a:hover {
//     text-decoration: underline;
//     color: rgb(131, 208, 231);
//   }
  
// div.card2  a:active {
//     text-decoration: underline;
//     color: blue;
//   }
/* Styling paragraph element */

// div.card2 p{
//     color:rgb(153, 149, 149);
// }