.listdiv{
    margin: 50px;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin-top: 50px;
    padding-left: 0;

}

ul li{
    list-style: none;
    border: 2px solid #b5c5dd;
    width: 80%;
    // opacity: 0;
    transition: opacity 0.5s ease-in-out;
    height: 40px;
    margin: 5px auto;
    text-align: left;
}

ul li label{
    margin : 0 auto;
    vertical-align: middle;
    height : 100%;
    line-height: 40px;
    font-size: 20px;
    color: black;
}

ul button{
    padding: 3px;
    border : none;
    margin : 5px;
    float: right;
    border-radius:  5px;
    color : black;
}

ul li #check{
    float : left;
    width : 30px;
    height : 30px;
    margin : 2px;
    border : 2px solid #b5c5dd;
    position: relative;
    -webkit-appearance: none;
    outline : 0;



}

ul li #check:checked:after {
    content: '\2714';
    font-size: 20px;
    position: absolute;
    top : 0px;
    left: 7px;
    color : black;
}

