.options {
    width : 65%;
    margin : auto;
    display : "none";
}
// css for input fields
.options input{
    width : 100%;
    height : 32px;
    font-size: 20px;
    padding-left: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border : 2px solid #b5c5dd;
    border-radius: 5px;
    


}

// css for button 
.options button{
    width : 100%;
  
    border : none;
    height : 30px;
    margin-top: 2px;
    border-radius: 5px;
    cursor: pointer;
    
}

.options button:hover{
    transform: scale(1.1);

}
.options button:focus{
    outline : 0;
}

.option  #add{
    background-color: #2980b9;
}

.option  #delete{
    background-color: red;
}

.option  #display{
    background-color: yellowgreen;
}

.option #show{
    background-color: rgb(155, 155, 202);
}


// div#noDisplay {
//     display : "none" !important;
//     visibility : hidden;
// }